tests
doc
lib
assets
examples

.DS_Store

.travis.yml

gulpfile.js

tsconfig.json
tslint.json
.editorconfig
.gitignore
.prettierrc
.travis.yml
jest.config.js

yarn.lock
package-lock.json

.nyc_output
coverage

.vscode
